@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #254130a8;
    width: 900px;
    padding: 10px;
    margin: auto;
}

body {
    /*background-color: #D4FFE6;*/
    background-image: linear-gradient(to bottom, #2C4D3A, #2E8B57, #D4FFE6);
    background-attachment: fixed;
    text-align: center;
    
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}

h1#principal {
    background-color: seagreen;
    color: white;
}

.contabil {

}

.igreja {

}

.utilitarios {

}

div:hover {
    background-color: azure;
}

a:hover {
    background-color: aqua;
    color: coral;
    font-size: bold;
}