@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #D4FFE6;
    --cor1: #2E8B57;
    --cor2: #2C4D3A;
    
    --cor3: #90ee90;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    /*background-color: #D4FFE6;*/
    font-family: var(--fonte-padrao);
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1), var(--cor0));
    background-attachment: fixed;
    text-align: center;
    
}

header > h1 {
    font-family: var(--fonte-destaque);
}

main {
    background-color: white;
    border-radius: 20px 0px;
    box-shadow: 5px 5px 15px #254130a8;
    min-width: 320px;
    max-width: 850px;
    padding: 10px;
    margin: auto;
}

nav {
    /*background-color: lightgray;*/
    padding: 3px;
    margin: 10px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

nav > a:hover {
    background-color: white;
    color: black;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}

h1#principal {
    color: white;
}

section > a {
    text-decoration: none;
    color: black;
}

.contabil:hover{
    display: block;
    background-color: var(--cor0);
}

.igreja:hover {
    background-color: var(--cor0);
}

.utilitarios:hover {
    background-color: var(--cor0);
}

p > a {
    text-decoration: none;
}

p > a:hover {
    background-color: var(--cor0);
    color: var(--cor2);
    font-size: bold;
}

footer {
    background-color: black;
    color: white;
}